
html, body {
	width: 100%;
	height: 100%;
	overflow:hidden;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body {
	background: url('../img/bg.jpg') repeat;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
}

* {
	box-sizing: border-box;
}

[hidden],
input[type="file"][hidden] {
	display: none !important;
}


.btn-reset {
	padding: 0;
	margin: 0;
	border: 0;
	display: block;
	text-align: center;
	cursor: pointer;
}



#map-container {
	width: 100%;
	height: 100%;
	display: none;
}

#home-container {
	color: #151515;
}
#home-container button {
	color: #000;
}
#home-container button.create-new {
	background: rgba(62, 123, 33, 0.3);
	width: 200px;
	line-height: 60px;
	margin: 0 auto;
	border: 1px solid #151515;
	border-radius: 7px;
	font-size: 20px;
}

#uploader {
	background: rgba(255,255,255,0.1);
	width: 320px;
	padding: 50px 0;
	margin: 40px auto 65px auto;
	border: 2px dotted #555;
	font-family: serif;
	font-size: 35px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#uploader span {
	display: block;
	margin: 20px 0;
	font-size: 80%;
	opacity: 0.4;
}

#description {
	background: #000;
	opacity: 0;
	max-width: 290px;
	padding: 10px 15px;
	border-radius: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
	font-size: 80%;
	color: #fff;

	transition: 1s opacity;
}
#description.shown {
	opacity: 0.6;
}
#description span {
	float: left;
	clear: left;
	width: 130px;
}
#description span:nth-child(even) {
	clear: none;
	width: auto;
}
#description span.note {
	color: #ECE944;
}



#dashboard {
	background: rgba(0, 0, 0, 0.9);
	opacity: 0.8;
	width: 320px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -300px;
	z-index: 3;
	transition: 1s left;
	color: #fff;
}
#dashboard.shown {
    left: 0;
	overflow-y: auto;
}

#dashboard::-webkit-scrollbar {
	width: 0;
    /*width: 20px;*/
}
#dashboard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}
#dashboard::-webkit-scrollbar-thumb {
 	background-color: #fff;
}
#dashboard .bar {
	background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(50, 50, 50, 0.8));
	width: 20px;
	height: 100%;
	float: left;
	position: fixed;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
#dashboard .bar:active,
#dashboard .bar:focus {
	outline: 0;
	border: 0;
}
#dashboard .bar .caret {
	background: transparent;
	width: 0;
	height: 0;
	padding: 0;
	margin: -5px 0 0 5px;
    border: 10px solid rgba(0, 0, 0, 0.8);
    border-top-color: transparent;
    border-bottom-color: transparent;
	border-right-width: 0;
    border-left-width: 10px;
	float: left;
	position: relative;
	cursor: inherit;
}
#dashboard.shown .bar .caret {
	border-left-width: 0;
	border-right-width: 10px;
}
#dashboard .bar:focus .caret,
#dashboard .bar:hover .caret {
    border-left-color: rgba(40, 0, 10, .8);
    border-right-color: rgba(40, 0, 10, .8);
}


#dashboard > div {
	width: 300px;
	float: left;
}
#dashboard .block {
	padding: 0 10px 20px 10px;
	margin: 0 0 40px 0;
	clear: both;
	width: 100%;
	float: left;
	background: rgba(0, 0, 0, 0.5);
}
#dashboard .block:last-child {
	margin-bottom: 0;
}

#dashboard .heading {
    color: #fff;
    font-size: 140%;
    clear: both;
    display: block;
    background: #000;
    padding: 10px 10px 5px 10px;
    margin: 0 -10px;
}

#dashboard input[type="text"],
#dashboard textarea {
	background: rgba(255, 255, 255, 0.7);
	width: 100%;
	float: left;
	clear: both;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
}
#dashboard input[type="text"]:disabled,
#dashboard textarea:disabled {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==);
    opacity: 0.4;
}
#dashboard input[type="text"] {
    margin-bottom: 10px;
}
#dashboard textarea {
    resize: none;
    height: 60px;
    float: left;
}
#dashboard label {
	float: left;
	line-height: 20px;
	color: #fff;
	font-size: 85%;
}

#dashboard .inp-row label {
	width: 100%;
    line-height: 30px;
    float: left;
    clear: left;
	margin: 0 -10px;
	padding: 0 10px;
	box-sizing: content-box;
}
#dashboard .inp-row label:nth-child(even) {
	background: rgba(0, 0, 0, 0.5);
}
#dashboard .inp-row label select,
#dashboard .inp-row label input[type="checkbox"] {
	height: 15px;
    float: right;
	margin: 7.5px 0 0 0;
	padding: 0;
	border: 0;
}
#dashboard .inp-row label input[type="checkbox"] {
	width: 15px;
}
#dashboard .inp-row label select {
	height: 20px;
	margin: 5px 0 0 0;
}

#dashboard .radiogroup {
    background: rgba(0, 0, 0, 0.5);
    margin: 0 -10px 5px -10px;
    padding: 10px 10px;
    box-sizing: content-box;
    float: left;
    width: 100%;
}
#dashboard .radiogroup > span {
    width: 100%;
    padding: 0px 0px 2px 0px;
    float: left;
}
#dashboard .radiogroup label {
	margin: 0 15px;
	text-align: center;
}
#dashboard .radiogroup label input[type="radio"] {
	width: 15px;
    height: 15px;
    margin: 7.5px 0 0 0;
    display: inline;
}
#dashboard .btn {
	background: #ddd;
	width: 100%;
	padding: 7px;
	margin: 5px 0 0 0;
	border: none;
	display: block;
	float: left;
	cursor: pointer;
}

#dashboard #export-options > * {
	display: none;
}
#dashboard #export-options[data-for=".ts.json"] > [data-for=".ts.json"],
#dashboard #export-options[data-for=".tl.json"] > [data-for=".tl.json"],
#dashboard #export-options[data-for=".tf.json"] > [data-for=".tf.json"] {
	display: inherit;
}


.blockUI {
	cursor: progress;
}
.blockUI * {
	display: none;
}
#blockUI-loading {
	float: left;
	display: none;
	position: absolute;
	top: 25%;
	left: 50%;
	margin: -16px 0 0 -60px;
	text-align: left;
	font-size: 32px;
	line-height: 32px;
}
.blockUI #blockUI-loading.shown {
	display: inline;
}


#prompt {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	text-align: center;
}
.blockUI #prompt * {
	display: initial;
}
#prompt.shown {
	display: block;
}
#prompt .canvas {
	background: rgba(255, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	float: left;
	cursor: not-allowed;
}
#prompt .container {
	background: #fff;
	width: 300px;
	padding: 30px;
	margin: 50px auto 0 auto;
	display: block;
	cursor: default;
}
#prompt .title {
	padding-bottom: 20px;
	display: block;
	font-size: 120%;
}
#prompt .msg {
	display: block;
	padding-bottom: 20px;
	color: #666;
}
#prompt .msg em {
	color: #BA9F9F;
}
#prompt button {
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #ddd;
	display: block;
}
#prompt button,
#prompt textarea {
	width: 100%;
	background: #eee;
	border: 1px solid #ddd;
    border-radius: 7px;
	color: #666;
}
.blockUI #prompt textarea {
	height: 50px;
    margin: 0 0 20px 0;
	display: none;
	font-size: 60%;
	resize: none;
}
.blockUI #prompt.raw-data textarea {
	display: block;
}
